//primary colours
$primary050: #FEF6F7;
$primary100: #F7C0C4;
$primary200: #F3A0A6;
$primary300: #F0858D;
$primary400: #EC6A73;
$primary500: #E63946;
$primary600: #E21D2B;
$primary700: #CC1A27;
$primary800: #A81520;
$primary900: #831119;
$primary1k: #640D13;
$primaryDisabled: #B26D72;
//secondary colours
$secondary050: #FBFDFE;
$secondary100: #F0F9F9;
$secondary200: #E6F4F5;
$secondary300: #D7EEEF;
$secondary400: #C1E5E6;
$secondary500: #A8DADC;
$secondary600: #8ECFD2;
$secondary700: #7CC7CA;
$secondary800: #66BEC2;
$secondary900: #4DB3B7;
$secondary1k: #42A0A4;
$secondaryDisabled:#BBC8C9;
// text colours
$primaryText: #383B4A;
$secondaryText: #4B4F63;
//grayscale
$gray050: #EEEEF2;
$gray100: #D3D5DE;
$gray200:#B9BCCA;
$gray300:#A5A9BB;
$gray400:#8B8FA7;
$gray500:#777C98;
$gray600:#616680;
$gray700:#4B4F63;
$gray800:#383B4A;
$gray900:#2C2E3A;
$gray1k:#23252E;
//success
$green5:#C4E3D1;
$green4: #418B5F;
$green3:#397953; //main
$green2:#2F6445;
$green1:#21452F;
$green-d: #155E31;
//error
$error-d: #E63946;
$error1: #66000C;
$error2: #8A0011;
$error3: #AD0015;
$error4: #CC0000;
$error5: #F5001D;
$error6: #FFD6DB;
//warning
$warning-d: #BA8708;
$warning1: #826212;
$warning2:#C5951C;
$warning3: #E3B236;
$warning4: #ECCC79;
$warning5: #FAF1DB;